body {
    background: url("https://images.unsplash.com/photo-1415369629372-26f2fe60c467?dpr=2&fit=crop&fm=jpg&h=775&q=50&w=1450") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Lato;
}

.headline {
    margin-top: 200px;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.headline h1 {
    font-size: 4.5em;
}

.headline p {
    font-size: 1.75em;
}

hr {
    width: 75%;
}